---
import { SITE_BASE, SocialLinks, WebsiteLinks } from '../consts'
import LogoSVG from '../assets/logo.svg'
import { Icon } from 'astro-icon/components'

const today = new Date()
---

<footer>
	<div class="app-container flex justify-between items-center pb-6 text-center">
		<p
			class="text-left md:text-center w-full flex items-center justify-start md:justify-center gap-1"
		>
			&copy; {today.getFullYear()}
			Made with <Icon name="mdi:hamburger" class="w-5 h-5" /> in Dayton, OH.
		</p>
	</div>
</footer>
